mat-label{
  color:white;
  text-decoration-color:white;
  font-weight: bolder;
  
}

mat-form-field{
  background-color: rgb(10, 14, 17);
}

.details{
  display:table;
  float:left;
  font-weight: bold;
  width:100%;
  height:100%;
  margin-top: 15px;
  background-color: #3ed3a6 ;
  border-style: groove;
}

