<div>
  
  <div *ngIf="Scastsummary" class="details">
  <!-- <div>{{showid}}</div> -->
  <img [src]='Scastsummary?.image.medium' width ="250" height="350" alt="Avatar" class="image" style="float: left;">
  
  <div>Show Name : {{Scastsummary.name}}<br><br></div>
  <div >Show Summary: {{Scastsummary.summary}}<br><br></div>
  <div>Show schedule: {{Scastsummary.schedule.time}}<br><br></div>
  <div *ngFor="let day of Scastsummary.schedule.days">Schedule days: {{day}} <br><br></div>
  <span>Cast:</span>
  <div >
    <div>
      <span *ngFor="let cast of Scastsummary._embedded.cast" style=" float:left"> {{cast?.person.name}},</span> 
    </div>
    
    <span><br></span>
  </div>
 
  <div style="margin-top: 15px;">Seasons: {{seasons?.length}}
  <div> 
    <mat-form-field appearance="standard">
      <mat-label>Season </mat-label>
      <mat-select (selectionChange)="getseasonID($event)">
        <mat-option *ngFor="let season of seasons" [value]="season.id" >
          {{season.number}}
        </mat-option>
      </mat-select>
    </mat-form-field>
   

  <div *ngFor="let episode of episodes" class="details">
    <img [src]='episode.image.medium' width ="175" height="275"  style="float:left;">
    
      <div><br>Episode :{{episode.number}}</div>
        <div>Episode Name:{{episode.name}}</div>
        <div>Episode Summary:{{episode.summary}}</div>
        <div>Episode runtime:{{episode.runtime}}</div>
  
</div>
</div>
