<div>
  <div>{{showid}}</div>
  <img [src]='Scastsummary.image.medium' alt="Avatar" class="image" >
  <div>Show Name :{{Scastsummary.name}}</div>
  <div>Show Summary:{{Scastsummary.summary}}</div>
  <div>Show schedule:{{Scastsummary.schedule.time}}</div>
  <div *ngFor="let day of Scastsummary.schedule.days">Schedule days:{{day}}</div>
  <div fxLayout="row">
    <span>Cast:</span>
    <p *ngFor="let cast of Scastsummary._embedded.cast">{{cast.person.name}} , </p>
  </div>
 
  <div>Seasons: {{seasons.length}}</div>
  <div> 
    <mat-form-field appearance="standard">
      <mat-label>Season </mat-label>
      <mat-select>
        <mat-option *ngFor="let season of seasons" [value]="season.number" (onChange)="getseasonID(season.id)">
          {{season.number}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div> 
  <div *ngFor="let episode of episodes">
    <li><img [src]='episode.image.medium'></li>
    <li>{{episode.number}}</li>
    <li>{{episode.name}}</li>
    <li>{{episode.summary}}</li>
    <li>{{episode.runtime}}</li>
  </div>
</div>
