<div>
  
  <div *ngIf="Scastsummary" class="details">
  <!-- <div>{{showid}}</div> -->
  <img [src]='Scastsummary?.image.medium' width ="250" height="350" alt="Avatar" class="image" style="float: left;">
  
  <div style=" color:orangered; font-size: larger;"><br>Show Name : {{Scastsummary?.name}}<br></div>
  <div> <br><mat-icon>star </mat-icon> {{Scastsummary.rating?.average}}<br></div>
  <div ><br>Show Summary: {{Scastsummary?.summary}}<br></div>
  <div><br>Show schedule: {{Scastsummary?.schedule.time}}<br></div>
  
  <div><br>Language: {{Scastsummary?.language}}<br></div>
  <div *ngFor="let day of Scastsummary.schedule.days"><br>Schedule days: {{day}}<br></div>
  <span><br>Cast:</span>
  <div >
    <div>
      <span *ngFor="let cast of Scastsummary._embedded.cast" style=" float:left"> {{cast?.person.name}},</span> 
    </div>
    
    <span><br></span>
  </div>
 
  <div style="margin-top: 20px; position:relative;" ><br>Seasons: {{seasons?.length}}
  <div> 
    <mat-form-field appearance="standard">
      <mat-label>Season </mat-label>
      <mat-select (selectionChange)="getseasonID($event)">
        <mat-option *ngFor="let season of seasons" [value]="season.id" >
          {{season.number}}
        </mat-option>
      </mat-select>
    </mat-form-field>
   
    <div *ngIf="episodes">
  <div *ngFor="let episode of episodes" class="details">
    <img [src]='episode.image?.medium' width ="175" height="275"  style="float:left;">
    
      <div><br>Episode :{{episode?.number}}</div>
        <div><br>Episode Name:{{episode?.name}}</div>
        <div><br>Episode Summary:{{episode?.summary}}</div>
        <div><br>Episode runtime:{{episode?.runtime}}</div>
  
</div>
</div>
</div>
