.container {
  position:absolute;
  width: 60%;
  padding-left: 30px;
  padding-bottom: 30px;

}

.image {
  display: block;
  width: 100%;
  
}
/*
.overlay {
  position:absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: lightblue;
  overflow:auto;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0%;
  height: 100%;
}

.text {
  color: black;
  font-size: 15px;
  position:relative;
  top: 25%;
  left: 50%;
  bottom: 25%;
  padding-bottom: 10px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
  font-weight: bold;
}
*/
#show_name {
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
}