

.schedulepage{
  background-image: url('/assets/images/tv.png');
  display: inline-block;
  width:100%;
  
}

mat-card{
  margin:15px;
  position: relative;
  
  
}
mat-card-content{
  text-align: center;
}
