<div *ngIf="schedules">
  <h2 style="text-align: center;">Today's Schedule {{ currentdate }}</h2>
  <div class="schedulepage">
    <div *ngFor="let row of schedules | keyvalue">
      
        <mat-card>
          <mat-card-content style="border:1px solid white; font-size: large; padding:10px; background-image:url('/assets/images/tv.png'); color: black; font-weight: bold;" >Show Time: {{ row.key }}</mat-card-content>
            
            <mat-card-content *ngFor="let i of row.value" >
              Show: {{ i?.show.name }}  <br>
              Network: {{i?.show.network?.name}}
            </mat-card-content>
            
            

        
        </mat-card>
      
    </div>
  </div>
</div>
