<div *ngIf="schedules" id="body" >
  <h2 id="body"> Today's Schedule {{currentdate}}</h2>
  <div class="col-sm-3" style="float: left;" id="body"  *ngFor="let row of schedules  | keyvalue" >
    <div *ngFor="let val of row | keyvalue"  >
      
        
    <mat-card class="schedule" >
      <mat-card-content>Show: {{val[row]}}</mat-card-content>
      <mat-card-content>Time: {{val[row]}}</mat-card-content>
      <mat-card-content>Channel: {{val[row]}}</mat-card-content>
      </mat-card>
    </div>
  </div>
  </div>

