
<!--
<header>

  <div class="container">
<a href="#" class="logo">KAL Academy TV</a>

<input>
<nav>

  <ul>
    <li><a href="#" router-link="/">Home</a></li>
    <li><a href="#" router-link="/">Drama</a></li>
    <li><a href="#" router-link="/">Action</a></li>
    <li><a href="#" router-link="/">Comedy</a></li>

    
  </ul>
</nav>


  </div>
</header>
-->
<!--  -->
<div *ngIf="searchShow">  
    <!--<span>Number of shows is {{searchShow .length}}, {{searchShow.country}}</span>--> 
    <div class="showresult" *ngFor="let s of searchShow; let i = index">            
    <img class="imagedisp" [src]="s.image"  width ="250" height="350" (click)="getshowsdetails(s.showid)"> 
    <h1 class="text"> {{ s.showName }}</h1>  
    <p  class="text">Average Rating : {{s.avgRating}}</p>
    <p class="text">Run Time: {{s.runTime}}</p> 
       
</div>
</div>

