
<!--
<header>

  <div class="container">
<a href="#" class="logo">KAL Academy TV</a>

<input>
<nav>

  <ul>
    <li><a href="#" router-link="/">Home</a></li>
    <li><a href="#" router-link="/">Drama</a></li>
    <li><a href="#" router-link="/">Action</a></li>
    <li><a href="#" router-link="/">Comedy</a></li>

    
  </ul>
</nav>


  </div>
</header>
-->
<!--  -->
<div *ngIf="searchShow?.length > 0; else errormessage">
     <!--<span>Number of shows is {{searchShow .length}}, {{searchShow.country}}</span>--> 
  <div class="box" *ngFor="let s of searchShow; let i = index" text-align="center">        
      <div class="imgbox">
        <img [src]="s.image"  width ="250" height="350" (click)="getshowsdetails(s.showid)">
      </div>
      <div class="content">
        <h1 class="heading"> <b>{{ s.showName }}</b></h1>  
        <mat-icon>star </mat-icon> <span> {{s.avgRating}}</span> 
        <p>{{s?.language}}</p>
        <p>{{s?.times}}</p> 
        <p >{{s?.runTime}} minutes</p>   
        <p class="url">{{s.officialSite}}</p> 
          <p>{{s.description}}</p>      
      </div>
    </div>
</div>   

<ng-template  #errormessage>
  <ng-container *ngIf="(searchShow?.length === 0);" >
    <div class="errorshow">
      <p  >no such movies</p></div>
  </ng-container>
</ng-template>
