body{
    color:white;
  margin:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:18px;
}
header{
  background-color: black;
  padding:1em;
  height:3.5em;
}

.container {
  width:10  0%;
  margin:0 auto;

}

a{
  color:white;
  text-decoration:none;
}

a.logo{

  font-weight: bold;
  float:left;
}



nav{
  float:right;  
  
}
ul{
  list-style-type: none;
  margin:0;
  display:flex;
}
li a{
  padding:1em;
}

a:hover{
background:darkgray;
  }
  img {
    background-image: url('/assets/images/broken.png');
    background-size:250px 350px;
    
 }
 .text{
   float:left;
 }
.imagedisp{
  float:left;
}
