body{
    
  margin:0;
  padding:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:18px;
}

  img {
    background-image: url('/assets/images/broken.png');
    background-size:250px 350px;
   
 }
 
 .box{
   display:flex;
   padding:20px;
  border:2px solid black;  
  background-image: url('/assets/images/tv.png');
   
 }
 span{
   padding:2px;
   margin:2px;
   
 }
.content{
    text-align: left;
    padding:2px;
   margin:2px;
   font-weight: bold;
   font-family:Arial, Helvetica, sans-serif;
  }
  .heading{
    font-family:Arial, Helvetica, sans-serif;
    color:orangered;
  }
  .url{
    text-decoration-line: underline;
  }

  .errorshow{
    width:100%;
    height:100%;
    
  }