.toolbar {
  height:90px;
  }
  .logo{
    border-color:black;
    padding:5px;
    border: 5px solid black;
  }
    a{
  text-decoration: none;
  font-size:1em;
  margin:15px;
     }
   .homebar{
     flex:1 1 auto;
   }
a:hover{
  color: black;
  background:white;
}
.seabar{
  flex:1 1 auto;
  
}